{#
    Hard pagination occurs when the server only generates a single
    table-page at a time, on the browser's request. See comment
    in soft-pagination.twig
#}

<div class="pagination-container" data-handle-for="{{ handle }}">
    <span class="pagination-arrow-container">
        <a class="pagination-arrow back first" data-page-for="{{ options|first }}">&laquo;</a>&nbsp;
        <a class="pagination-arrow back previous" data-page-for="{{ options|first }}">&lsaquo;</a>&nbsp;
    </span>
    <select class="pagination-filter {{ handle }}">
        {% for option in options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>

    <span class="pagination-arrow-container">
        &nbsp;<a class="pagination-arrow forward next" data-page-for="{{ options|last }}">&rsaquo;</a>
        &nbsp;<a class="pagination-arrow forward last" data-page-for="{{ options|last }}">&raquo;</a>
    </span>
</div>
<script>
    $(function() {
        uwdoem.filter.setupFilter(uwdoem.pagination.setupPaginationFilter, "{{ handle }}");
    });
</script>