<!DOCTYPE html>
<html>
<head>
    {% block metahead %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <base href="{{ baseHref }}" target="_blank">
    {% endblock metahead %}

    {% block head %}
        {% include "page/athens-css.twig" %}
        {% include "page/athens-js.twig" %}
    {% endblock head %}

    {% block project_head %}

        {% for cssFile in projectCSS %}
            <link rel="stylesheet" href="{{ cssFile }}">
        {% endfor %}

        {% for jsFile in projectJS %}
            <script type='text/javascript' src='{{ jsFile }}'></script>
        {% endfor %}

    {% endblock project_head %}
</head>
<body id="{{ id }}" class="{{ pageType }} {{ classes|join(' ') }}" {{ data|writedata|raw }}>
{% block body %}
    <div class="loading-gif hidden"></div>

    <div id="mask-screen">

        <div class="search-div">
            <div class="section-label">Search Criteria</div>
            <div id="search-criteria-area"></div>
        </div>

    </div>

    <div id='uwsearcharea' aria-hidden="true" class="uw-search-bar-container"></div>

    <div id="notification-area">

    </div>

    {% for writable in writables  %}
        {{ writable|write|raw }}
    {% endfor %}

{% endblock body %}
</body>
</html>