<form id={{ id }}
      class="{{ classes|join(' ') }} prevent-double-submit {% if errors is not empty %}has-errors{% endif %}"
      method="{{ method }}" target="{{ target }}" data-request-uri="{{ requestURI }}"  {{ data|writedata|raw }}>

    {%  if errors is not empty %}
    <span class="form-errors"><br>
        {% for error in errors %} {{ error }} {% endfor %}
    </span>
    {% endif %}


        {% for fieldName, field in writables %}
            <div class="form-group" data-field-for="{{ field.getSlug }}" data-field-type-for="{{ field.getType }}">
                <label for="{{ field.getSlug }}" class="field-label {% if field.isRequired %}required{% endif %} {% if not field.getLabel %}empty{% endif %}">
                    {{ field.getLabel }}
                </label>

                {{ field|write|raw }}

                {% if field.getHelptext %}
                    <span class="field-helptext">{{ field.getHelptext }}</span>
                {% endif %}
            </div>
        {% endfor %}

    {% for name, subForm in subForms %}
        {{ subForm|write|stripForm|raw }}
    {% endfor %}

    <div class="form-actions">
        {% for action in actions %}
            {{ action|write|raw }}
        {% endfor %}
    </div>

</form>