<div class="select-container" data-handle-for="{{ id }}">

    <select data-handle-for="{{ id }}">
        {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>

</div>
<script>
    $(function() {
        uwdoem.select.setupSelectFilter("{{ id }}");
    });
</script>