<div {% if id %}id="{{ id }}"{% endif %} class="section-container {{ classes|join(' ') }}" data-request-uri="{{ requestURI }}" {{ data|writedata|raw }}>
    <div class="section-writables">
    {% for writable in writables  %}
        {{ writable|write|raw }}
    {% endfor %}
    </div>
</div>