<div {% if id %}id="{{ id|escape('html_attr') }}"{% endif %} class="breadcrumbs-container {{ classes|join(' ')|escape('html_attr') }}" data-request-uri="{{ requestURI|escape('html_attr') }}" {{ data|writedata|raw }}>
    <nav class='breadcrumbs' role='navigation'>
        <ul>
            {% for writable in writables %}
                <li>{{ writable|write|raw }}</li>
            {% endfor %}
        </ul>
    </nav>
</div>