<div id="{{ id }}" class=select-a-section-container data-request-uri="{{ requestURI }}">

    <div class=right>
        {% block right %}
            <div class="selection default">
                Select one of the options at left.
            </div>
            {% for label, manifestItem in manifest %}
                {% if not manifestItem is null %}
                    <div class='selection' data-selection-name='{{ label|slugify }}'>
                        {{ manifestItem|write|raw }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endblock right %}
    </div>

    <div class=left>
        {% block left %}
            {% for label, manifestItem in manifest %}
                {% if manifestItem is null %}
                    <div class='option header'>{{ label }}</div>
                {% else %}
                    <div class='option selectable' data-section-for='{{ label|slugify }}'>
                        <div class='control-container'></div>
                        <div class='label-container'>{{ label }}</div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class=filler></div>
        {% endblock left %}
    </div>

</div>
<br style="clear:both">