<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    {% block metahead %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {{ title }}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="{{ baseHref }}" target="_blank">

    <link rel='shortcut icon' type='image/x-icon' href='vendor/uwdoem/framework/assets/images/favicon.ico'/>

    {% endblock metahead %}

    {% block head %}
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?ver=1.9.1'></script>
    <script type='text/javascript' src='//www.washington.edu/wp-includes/js/underscore.min.js?ver=1.6.0'></script>
    <script type='text/javascript' src='//www.washington.edu/wp-includes/js/backbone.min.js?ver=1.1.2'></script>

    <script>
        var uw = {"siteUrl": "../assets/"};
    </script>

    <!--[if lt IE 9]>
    <script src="vendor/uwdoem/framework/assets/uw-brand/js/html5shiv.js" type="text/javascript"></script>
    <script src="vendor/uwdoem/framework/assets/uw-brand/js/respond.js" type="text/javascript"></script>
    <script src="vendor/uwdoem/framework/assets/uw-brand/js/site.js" type="text/javascript"></script>
    <link rel='stylesheet' href='assets/uw-brand/css/ie.css' type='text/css' media='all'/>
    <![endif]-->

    <link rel="stylesheet" href="vendor/uwdoem/framework/assets/uw-brand/uw.css"/>

    {% include "page/library-js.twig" %}

    <link rel="stylesheet" href="vendor/uwdoem/framework/assets/uw-brand/wp-style.css"/>
    <link rel="stylesheet" href="//osfa.washington.edu/wp/osfa/wp-content/themes/uw-2014-osfa-standalone-child/style.css?ver=3.6"/>

    <!--File uw.css breaks the small header; this statement fixes it.-->
    <style media="screen" type="text/css">
        .uw-thinstrip nav {
            display: inline;
        }

        .uw-thinstrip div nav {
            display: inline-block;
        }
    </style>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.css"/>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.js'></script>

    <link rel="stylesheet" href="vendor/uwdoem/framework/assets/css/osfa-webui.css">
    <link rel="stylesheet" href="vendor/uwdoem/framework/assets/css/osfa-webui-print.css">

    {% endblock head %}

    {% block project_head %}

        {% for cssFile in projectCSS %}
    <link rel="stylesheet" href="{{ cssFile }}">
        {% endfor %}

        {% for jsFile in projectJS %}
        <script type='text/javascript' src='{{ jsFile }}'></script>
        {% endfor %}

    {% endblock project_head %}
</head>
<body class={{ pageType }}>
{% block body %}

<div class="loading-gif hidden"></div>

<div id="mask-screen">

    <div class="search-div">
        <div class="section-label">Search Criteria</div>
        <div id="search-criteria-area"></div>
    </div>

</div>



<div id='uwsearcharea' aria-hidden="true" class="uw-search-bar-container"></div>

<div id="uw-container">

    <div id="uw-container-inner">
        {% block navheader %}{% endblock navheader %}
        <div id="notification-area">

        </div>
        <div class="breadcrumbs-container">

            {% if breadCrumbs %}

                <nav class='uw-breadcrumbs' role='navigation' aria-label='breadcrumbs'><ul>
                    <li><a target='_self' href='http://uw.edu' title='University of Washington'>Home</a></li>

                {% for crumbKey, crumbValue in breadCrumbs %}
                    {% if not loop.last %}
                        <li><a target="_self" href="{{ crumbValue }}">{{ crumbKey }}</a></li>
                    {% else %}
                        <li class="current"><span>{{ crumbValue }}</span></li>
                    {% endif %}
                {% endfor %}

                </ul></nav>
            {% endif %}

            {% if returnTo %}
                {% for key, value in returnTo %}
                <div class="uwaa-btn-wrapper">
                    <a class="uwaa-btn btn-slant-left btn-purple" target="_self" href="{{ value }}" >&#8678; {{ key }}</a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    <div id="page-content">

    {% if header %}
        <h1 class=header>{{ header }}</h1>
    {% endif %}

    <div id=top-filters>
    </div>

    <br style="line-height:0;clear:both">

    {% if subHeader %}
        <h2 class=subheader>{{ subHeader }}</h2>
    {% endif %}

    <br class="page-content-head">

    {% block content %}
    {{ content|raw }}
    {% endblock content %}

</div>

<br class="footer-break">
</div>

{% block footer %}{% endblock footer %}

</div>
{% endblock body %}
</body>
</html>