<table class="multi-adder" data-request-uri="{{ requestURI }}">

    <tr>
        {% for fieldName, field in prototypicalRow.getFieldBearer.getVisibleFields %}
            <th class="{{ field.getSlug }}" data-header-for="{{ fieldName }}">{{ field.getLabel }}</td>
        {% endfor %}
        <th data-header-for="remove">Remove</th>
    </tr>

    <tr class="prototypical form-row">
        {% for fieldName, field in prototypicalRow.getFieldBearer.getVisibleFields %}
            <td class="{{ field.getSlug }}">{{ field|write|raw }}</td>
        {% endfor %}

        {% for fieldName, field in prototypicalRow.getFieldBearer.getHiddenFields %}
            <td class="{{ field.getSlug }} hidden" style="display:none">{{ field|write|raw }}</td>
        {% endfor %}
            <td class="remove"> - </td>

    </tr>


    {% for row in rows %}
        <tr class="actual form-row">
            {% for fieldName, field in row.getFieldBearer.getVisibleFields %}
                <td class="{{ field.getSlug }}">
                    {{ field|write|raw }}
                    {% if field.getErrors %}
                        <br>
                        {% for error in field.getErrors %}
                            <span class="field-errors">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
            {% endfor %}
                <td class="remove"> - </td>

            {% for fieldName, field in row.getFieldBearer.getHiddenFields %}
                <td class="{{ field.getSlug }} hidden" style="display:none">{{ field|write|raw }}</td>
            {% endfor %}
        </tr>
    {% endfor %}


    <tr class="adder clickable">
        <td colspan=100>&nbsp; + Add another</td>
    </tr>

</table>

<script>
    uwdoem.multi_adder.disablePrototypicalRows();
</script>