<span class="choice-field {{ classes|join(' ') }}" {{ data|writedata|raw }}>

    <span class="choice">
        <input type="radio" name="{{ slug }}" value="1" {% if initial is same as(true) or initial is same as(1) or initial is same as("1") %}checked{% endif %}>
        <label class="radio-label" data-name-for="{{ slug }}" data-value-for="1">Yes</label>
    </span>
    <span class="choice">
        <input type="radio" name="{{ slug }}" value="0" {% if initial is same as(false) or initial is same as(0) or initial is same as("0") %}checked{% endif %}>
        <label class="radio-label" data-name-for="{{ slug }}" data-value-for="0">No</label>
    </span>

</span>
{% include "field/errors.twig" %}