<span class="text-field {{ classes|join(' ') }}" {{ data|writedata|raw }}>
    <input class="form-control" type="text" class="slashless-date-entry" name="{{ slug }}" value="{{ initial }}" placeholder="{{ placeholder }}">
</span>
{% include "field/errors.twig" %}