<span class="textarea-field {{ classes|join(' ') }}" {{ data|writedata|raw }}>
    <textarea class="form-control html" rows="{{ min(15, max(5, size/100)) }}" maxlength="{{ size }}" name="{{ slug }}" placeholder="{{ placeholder }}">{{ initial }}</textarea>
</span>
{% include "field/errors.twig" %}