<span class="multiple-choice-field {{ classes|join(' ') }}" {{ data|writedata|raw }}>
    {% for choiceSlug, choice in choices %}
        <input type="checkbox" name="{{ slug }}[]" value="{{ choice.getKey }}" {% if choice.getValue in initial %}checked{% endif %}> {{ choice.getValue }}
    {% endfor %}
</span>
{% include "field/errors.twig" %}