{% extends "pick-a/base.twig" %}

{% block right %}
    <div class="selection default">
        Select one of the form types at left.

        {%  if errors is not empty %}
        <span class=pickaform-errors><br>
            {% for error in errors %} {{ error }} {% endfor %}
        </span>
        {% endif %}
    </div>
    {% for label, manifestItem in manifest %}
        {% if not manifestItem is null %}
            <div class='selection' data-selection-name='{{ label|slugify }}'>
                {{ manifestItem|write|stripForm|raw }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock right %}


{% block left %}
    {% for label, manifestItem in manifest %}
        {% if manifestItem is null %}
            <div class='option header'>{{ label }}</div>
        {% else %}
            <div class='option selectable' data-section-for='{{ label|slugify }}'>
                <div class='control-container'>
                    <input type="radio" name="{{ id }}" value="{{ label|slugify }}" {% if manifestItem is same as(selectedForm) %}checked{% endif %}>
                </div>
                <div class='label-container'>{{ label }}</div>
            </div>
        {% endif %}
    {% endfor %}
    <div class=filler></div>
{% endblock left %}