{% include "field/preamble.twig" %}
<span class="choice-field">

    {% if choices|length <= 2 %}
        {% for choiceSlug, choice in choices %}
        <input type="radio" name="{{ slug }}" value="{{ choiceSlug }}" {% if choice == initial %}checked{% endif %}> {{ choice }}
        {% endfor %}
    {% else %}
        <select name="{{ slug }}">
            <option {% if required %}disabled{% endif %}></option>
        {% for choiceSlug, choice in choices %}
            <option value="{{ choiceSlug }}" {% if choiceSlug == initial %}selected{% endif %}> {{ choice }} </option>
        {% endfor %}
        </select>
    {% endif %}


</span>
{% include "field/postamble.twig" %}