<form id="{{ id|escape('html_attr') }}"
        class="prevent-double-submit {% if errors is not empty %}has-errors{% endif %}"
        method="{{ method|escape('html_attr') }}" target="{{ target|escape('html_attr') }}" data-request-uri="{{ requestURI|escape('html_attr') }}" {{ data|writedata|raw }}>

<table class="multi-adder" data-request-uri="{{ requestURI|escape('html_attr') }}">

    <tr>
        {% for fieldName, field in prototypicalRow.getFieldBearer.getVisibleFields %}
            <th class="{{ field.getSlug|escape('html_attr') }}" data-header-for="{{ fieldName|escape('html_attr') }}">{{ field.getLabel }}</td>
        {% endfor %}
        {% if canRemove %}
            <th data-header-for="remove">Remove</th>
        {% endif %}

    </tr>

    {% if prototypicalRow %}
    <tr class="prototypical form-row">
        {% for fieldName, field in prototypicalRow.getFieldBearer.getVisibleFields %}
            <td class="{{ field.getSlug|escape('html_attr') }}">{{ field|write|raw }}</td>
        {% endfor %}

        {% for fieldName, field in prototypicalRow.getFieldBearer.getHiddenFields %}
            <td class="{{ field.getSlug|escape('html_attr') }} hidden" style="display:none">{{ field|write|raw }}</td>
        {% endfor %}
        {% if canRemove %}
            <td class="remove"> - </td>
        {% endif %}

    </tr>
    {% endif %}


    {% for row in rows %}
        <tr class="actual form-row">
            {% for fieldName, field in row.getFieldBearer.getVisibleFields %}
                <td class="{{ field.getSlug|escape('html_attr') }}">
                    {{ field|write|raw }}
                </td>
            {% endfor %}
            {% if canRemove %}
                <td class="remove"> - </td>
            {% endif %}

            {% for fieldName, field in row.getFieldBearer.getHiddenFields %}
                <td class="{{ field.getSlug|escape('html_attr') }} hidden" style="display:none">{{ field|write|raw }}</td>
            {% endfor %}
        </tr>
    {% endfor %}

    {% if prototypicalRow %}
    <tr class="adder clickable">
        <td colspan=100>&nbsp; + Add another</td>
    </tr>
    {% endif %}

    <div class="form-actions">
        {% for action in actions %}
            {{ action|write|raw }}
        {% endfor %}
    </div>

</table>
</form>

<script>
    athens.multi_adder.disablePrototypicalRows();
</script>