<form id={{ id }}
      class="prevent-double-submit {% if errors is not empty %}has-errors{% endif %}"
      method="{{ method }}" target="{{ target }}" data-request-uri="{{ requestURI }}">

    {%  if errors is not empty %}
    <span class="form-errors"><br>
        {% for error in errors %} {{ error }} {% endfor %}
    </span>
    {% endif %}

    <table>
        {% for fieldName, field in visibleFields %}
            {% if field.getType is same as("section-label") %}
                </table>
                    {{ field|write|raw }}
                <table>
            {% else %}
                <tr data-for="{{ field.getSlug }}">
                    <td class="label">
                        <label data-for="{{ field.getSlug }}">
                            {{ field.getLabel }}{% if field.isRequired %}*{% endif %}:
                        </label>
                    </td>
                    <td class="data">
                    {{ field|write|raw }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    {% for name, subForm in subForms %}
        {{ subForm|write|stripForm|raw }}
    {% endfor %}

    <div class="form-actions">
        {% for action in actions %}
            {{ action|write|raw }}
        {% endfor %}
    </div>

</form>