<div id="{{ id|escape('html_attr') }}" class="table-container {{ classes|join(' ')|html_attribute }}"  data-request-uri="{{ requestURI }}" {{ data|writedata|raw }}>
    <div class="filter-controls" data-table-for="{{ id }}">
        {% for filter in filters %}
            {{ filter|write|raw }}
        {% endfor %}
    </div>

    <table>

    <!-- header row -->
    <tr>
        {% if rows is empty %}
            <th>No data found</th>
        {%  else %}
            {% for fieldName, field in rows|first.getFieldBearer.getVisibleFields %}
                <th data-header-for="{{ fieldName }}">{{ field.getLabel }}</th>
            {% endfor %}
        {% endif %}
    </tr>

    <!-- data rows -->
    {% for row in rows %}
        {{ row|write|raw }}
    {% endfor %}
    </table>

    {% for filter in filters %}
        {% set feedback = filter.getFeedback %}
            <p class="filter-feedback {% if not feedback %}hidden{% endif %}" data-handle-for="{{ filter.getHandle }}">
                {{ feedback }}
            </p>
    {% endfor %}
</div>